<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Products</title>
</head>

<body>
    <h1>Create a new Product</h1>
    <form action="/products" method="POST">
        <div>
            <label for="name">Product Name: </label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="name">Price </label>
            <input type="number" name="price" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>